button {
    width: 15rem;
    height: 4rem;
    border-radius: 66px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    box-shadow: -15px 9px 68px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
}